body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background: #ffe6eb;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
  color: #d6336c;
}

button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background: #4caf50;
  color: white;
  position: absolute;
}

#noBtn {
  background: #f44336;
  color: white;
}
